html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  margin-bottom: 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.text-white {
  color: #fff !important;
}

.bg-primary {
  background-color: #624bff !important;
}

.pb-21 {
  padding-bottom: 9.5rem !important;
}

.pt-10 {
  padding-top: 4rem !important;
}

.rounded-2 {
  border-radius: 0.375rem !important;
}

.bg-light-primary {
  background-color: #e0dcfe !important;
}

.text-primary {
  color: #624bff !important;
}

.icon-shape {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-md {
  height: 2.5rem;
  line-height: 2.5rem;
  width: 2.5rem;
}

.text-dark {
  color: #212b36 !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

h1,
h2,
h3,
h4 {
  color: #212b36;
}

.h4,
h4 {
  font-size: 1.125rem;
}

.mt-6 {
  margin-top: 2rem !important;
}

.px-6 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.sidebar {
  background-color: #212b36;
  border-right: 1px solid #212b36;
  bottom: 0;
  display: block;
  margin-left: 0;
  max-width: 250px;
  padding: 0;
  position: fixed;
  top: 0;
  transition: margin 0.25s ease-out;
  width: 100%;
}
.sidebar .navbar-brand {
  padding: 1rem 1.5rem 1.5rem;
}
.sidebar .nav-item {
  align-items: center;
  color: #919eab;
  font-weight: 500;
  line-height: 1.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  white-space: nowrap;
}
.sidebar .nav-item .nav-link {
  align-items: center;
  color: #919eab;
  display: flex;
  font-weight: 500;
  line-height: 1.8;
  padding: 0.5rem 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  white-space: nowrap;
}
.sidebar .nav-item .nav {
  padding: 0.5rem 1.5rem;
}
.sidebar .nav-item .nav-link:hover {
  color: #f4f6f8;
}
.sidebar .nav-item .nav-heading {
  text-transform: uppercase;
  color: #454f5b;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  padding: 1rem 1.5rem;
}
.sidebar .nav-item.active {
  color: #f4f6f8;
}
.sidebar .nav-item.active .navlink {
  color: #f4f6f8;
}

.content {
  margin-left: 15.625rem;
}
.content .navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 20, 0.08), 0 1px 2px rgba(0, 0, 20, 0.08);
  padding: 10px 24px;
}
.content .navbar .left {
  gap: 30px;
}
.content .navbar .left .input-wrap input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  width: 238px;
  background-color: #fff;
  border: 1px solid #c4cdd5;
  border-radius: 0.375rem;
  color: #637381;
  display: block;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.content .navbar .left .input-wrap input:focus {
  background-color: #fff;
  border-color: #b1a5ff;
  box-shadow: 0 0 0 0.25rem rgba(98, 75, 255, 0.25);
  color: #637381;
  outline: 0;
}
.content .navbar .right {
  gap: 24px;
}
.content .navbar .right .avt {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
}
.content .navbar .right .avt img {
  border-radius: 50%;
}
.content .navbar .right .avt .status {
  position: absolute;
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: 0;
  content: "";
  display: table;
  height: 30%;
  position: absolute;
  right: 5%;
  width: 30%;
  background-color: #198754;
}

.project-section {
  position: relative;
}
.project-section button {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
}
.card-list {
  transform: translateY(-60%);
}
.card-list .card {
  box-shadow: 0px 0px 3px #ccc;
  border: 0;
  border-radius: 0.5rem;
}
.card-list .card h1 {
  font-size: 2.25rem;
}
.card-list .card .card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}
.card-list .card .card-body h1 {
  font-weight: bold;
  font-size: 2.25rem;
}

/*# sourceMappingURL=.app.css.map */
